<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipify">
        <activity android:name=".Directories.ListeEpicerieActivity"></activity>
        <activity
            android:name=".RecipeViewer"
            android:label="@string/title_activity_recipe_viewer"
            android:theme="@style/Theme.Recipify.NoActionBar" />
        <activity android:name=".Directories.Mdp"></activity>
        <activity
            android:name=".Directories.Profile"
            android:theme="@style/Theme.Recipify.NoActionBar" />
        <activity android:name=".Directories.Accueil" />
        <activity
            android:name=".Directories.FirstTime"
            android:theme="@style/Theme.Recipify.NoActionBar" />
        <activity
            android:name=".Auth.Signup"
            android:theme="@style/Theme.Recipify.NoActionBar" />
        <activity
            android:name=".Auth.Login"
            android:theme="@style/Theme.Recipify.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Recipify.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>